In [ ]:
#programs on while and for loops

In [1]:
i = 1          # initializing

while i<=5:    # condition
    print('data science')
    i = i + 1  # increment

data science
data science
data science
data science
data science

In [2]:
i = 5          # initializing

while i>=1:    # condition
    print('data science')
    i = i - 1  # decremen

data science
data science
data science
data science
data science

In [3]:
i = 1         # initializing
while i<=5:    # condition
    print('data science : ', i)
    i = i + 1  # increment

data science :  1
data science :  2
data science :  3
data science :  4
data science :  5

In [4]:
i = 5          # initializing
while i>=1:    # condition
    print('data science :',i)
    i = i - 1  # decrement

data science : 5
data science : 4
data science : 3
data science : 2
data science : 1

In [5]:
i = 1

while i<=5:
    print('data science') # when we mention end then new line will not create
    j = 1
    while j<=4:
        print('technology')
        j = j + 1
        
    i = i + 1
    print()
    
    # the output which we got is very lengty but how to make them one line lets refer to below code

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

In [6]:
i = 1
while i<=5:
    print(' datascience', end = "") # when we mention end then new line will not create
    j = 1
    while j<=4:
        print(' technology', end="")
        j = j + 1
        
    i = i + 1
    print()

 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology
 datascience technology technology technology technology

In [7]:
# lets use while loop usig some numbers
i = 1

while i <= 2 :
    j = 0
    while  j <= 2 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2
0 2 4

In [8]:
# lets use while loop usig some numbers
i = 1
while i <= 4 :
    j = 0
    while  j <= 3 :
        print(i*j, end=" ")
        j += 1
    print()
    i += 1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

In [ ]:
# for loop programs

In [12]:
name1 = [1,3.5,'hallo'] #i want print the value individualy

for i in name1:
    print(i)

1
3.5
hallo

In [13]:
for i in [2, 3, 7.8, 'hi']:
    print(i)

2
3
7.8
hi

In [14]:
for i in range(2,5):
    print(i)

2
3
4

In [16]:
# print the value which is divisible by 5 
for i in range(1,51):
    
    if i%5==0 :
        print(i)

5
10
15
20
25
30
35
40
45
50

In [18]:
# print the value which is divisible by 3 i dont want that value 
for i in range(1,31):
    
    if i%3!=0 :
        print(i, end=" ")

1 2 4 5 7 8 10 11 13 14 16 17 19 20 22 23 25 26 28 29

In [19]:
#print upto 5 numbers only use break
for i in range(1,11):
    if i == 6:
       break 
    print(i)

1
2
3
4
5

In [21]:
# print 6 numbers continue  except 3 
for i in range(1,7):
    if i == 3:
        continue 
    print(i,end=" ")

1 2 4 5 6

In [22]:
for i in range(1,7):
    if i == 2:
        continue  
    print('hello :',i)

hello : 1
hello : 3
hello : 4
hello : 5
hello : 6

In [23]:
for i in range(1,11):
    pass

In [24]:
for i in range(1,51):# print till 50 which are divisible by 3
    
    if i%3 == 0:
    
        print(i, end=" ")
print('end')

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 end

In [27]:
for i in range(1,21):
    
    if i%3 == 0:
        continue
    print(i ,end=' ')
print('end')

1 2 4 5 7 8 10 11 13 14 16 17 19 20 end

In [28]:
for i in range(1,51):
    
    if i%3 == 0 or i%5 == 0:
        continue
    print(i)
#print('end')    
# it will skip all the value which is divisible by 3 or 5

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49

In [29]:
for i in range(1,21):
    if i%3 == 0 or i%5 == 0:
        continue
    print(i)
print('end')    
# when you apply and you wont get the value which is divisible by both 3 & 5 (15)

1
2
4
7
8
11
13
14
16
17
19
end