                     Patterns in  python loops

In [1]:
#right angle triangle pattern
for i in range(1,6):
    print(' * '*i)

 *
 *  *
 *  *  *
 *  *  *  *
 *  *  *  *  *

In [2]:
# invert right angle triangle pattern
for i in range(5,0,-1):
    print(' #'*i)

 # # # # #
 # # # #
 # # #
 # #
 #

In [ ]:
#pyramid pattern
for i in range(1,6):
    print(''*(5-i)+'  & '*(2*i-1))

 &
 &  &  &
 &  &  &  &  &
 &  &  &  &  &  &  &
 &  &  &  &  &  &  &  &  &

In [7]:
# inverted pyramid pattern
for i in range(5,0,-1):
    print(''*(5-i)+' & '*(2*i-1))

 &  &  &  &  &  &  &  &  &
 &  &  &  &  &  &  &
 &  &  &  &  &
 &  &  &
 &

In [13]:
# diamond pattern
for i in range(1,6):
    print(''*(5-i)+'  D '*(2*i-1))
for i in range(4,0,-1):
    print(''*(5-i)+'  D '*(2*i-1))

  D
  D   D   D
  D   D   D   D   D
  D   D   D   D   D   D   D
  D   D   D   D   D   D   D   D   D
  D   D   D   D   D   D   D
  D   D   D   D   D
  D   D   D
  D

In [18]:
#hallow square pattern
for i in range (5):
    for j in range(5):
        if i==0 or i==4 or j==0 or j==4:
            print('s', end='')
        else:
            print(' ',end='')
    print()

sssss
s   s
s   s
s   s
sssss

In [19]:
#full square pattern
for i in range(5):
    print(' # '*5)

 #  #  #  #  #
 #  #  #  #  #
 #  #  #  #  #
 #  #  #  #  #
 #  #  #  #  #

In [20]:
# hallow right angle triangle pattern
for i in range(1,6):
    for j in range(1,i+1):
        if j==1 or j==i or i==5:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

*
* *
*   *
*     *
* * * * *