python functions- Positional Arguments

In [2]:
def person(name,age):
    print(name)
    print(age)
    
person('jhon', 22)

jhon
22

In [3]:
def person(name,age):
    print(name)
    print(age)
    
person('uma')

TypeError: person() missing 1 required positional argument: 'age'

In [4]:
def person(name,age):
    print(name)
    print(age)
    
person(22)

TypeError: person() missing 1 required positional argument: 'age'

In [5]:
def person(name,age):
    print(name)
    print(age)
    
person('scot', 22, 23, 45, 56)

TypeError: person() takes 2 positional arguments but 5 were given

In [6]:
def person(name, age):
    print(name)
    print(age-1)

person(22, 'nit')

22

TypeError: unsupported operand type(s) for -: 'str' and 'int'

Keyword Arguments

In [7]:
def person(name, age):
    print(name)
    print(age-1)

person(age = 22, name = 'leo')

leo
21

In [8]:
def person(name, age, new_age ):
    print(name)
    print(age-1)

person(age = 22, name = 'nit')

TypeError: person() missing 1 required positional argument: 'new_age'

In [9]:
def person(name, age, new_age ):
    print(name)
    print(age-1)
    print(new_age)

person(age = 22, name = 'scot',  new_age=23)

scot
21
23

Default Arguments

In [10]:
def person(name, age=18):
    print(name)
    print(age)

person('uma')

uma
18

In [12]:
def person(name, age=18):
    print(name)
    print(age)

person('uma', 40)

uma
40

Variable lenght arguments

In [13]:
def person(name, age):
    print(name)
    print(age)

person('nit', 40, 50, 60, 70, 80 )

TypeError: person() takes 2 positional arguments but 6 were given

In [15]:
def sum(a, b):
    c = a+b
    print(c)
    
sum(5,6,7,8)

TypeError: sum() takes 2 positional arguments but 4 were given

In [16]:
def sum(a, *b): # 1st argument is fixed but for 2nd argument
    #c = a+b
    print(type(a))
    print(type(b))

sum(5,6,7,8)

<class 'int'>
<class 'tuple'>

In [17]:
def sum(a, *b): # 1st argument is fixed & we fetch each value from the tuple & we can add them. 
    c = a   
    for i in b:
        c = c + i 
    print(c)
        
sum(5,6,7,8)

26

In [18]:
def sum(a, *b): # 1st argument is fixed & we fetch each value from the tuple & we can add them. 
    c = a   
    for i in b:
        c = c + i 
    print(c)
        
sum(5,6,7,8,9,20)

55

In [19]:
def sum(a, *b): # 1st argument is fixed & we fetch each value from the tuple & we can add them. 
    c = a
    for i in b:
        c = c + i 
    print(c)
        
sum(5,6,7,8)

26

kwargs

In [20]:
def person():
    person('ALEX', 36, 'JOHN', 987767)

In [21]:
def person(name, *data):
    print(name)
    print(data)

person('ALEX', 36, 'JOHN', 987767)

ALEX
(36, 'JOHN', 987767)

In [22]:
def person(name,*data):
    print('name')
    print(data)

person('ALEX', age = 36, home_place ='southcity', mob =987767)

TypeError: person() got an unexpected keyword argument 'age'

In [23]:
def person(name, **data):
    print('name')
    print(data)

person('ALEX', age = 36, home_place ='southcity', mob =987767)

name
{'age': 36, 'home_place': 'southcity', 'mob': 987767}

In [24]:
def person(name, **data):
    print('name')
    print(data)

person('ALEX', age = 36, home_place ='southcity', mob =987767, slary= 40000, married = 'yes')

name
{'age': 36, 'home_place': 'southcity', 'mob': 987767, 'slary': 40000, 'married': 'yes'}

global and local variable

In [25]:
a = 10  #-- globla variable 

def something():
    b = 15 #local variable

In [27]:
a = 10  #-- globla variable 

def something():
    b = 15 #local variable
    
    print('in function',b)    
    print('out function',a)

In [28]:
a = 10  
def something():
    b = 15
    print('in function',b)    
    
print('out function',a)

out function 10

In [29]:
a = 10  

def something():
    a = 15
    
print('in function',a) 

print('out function',a)

in function 10
out function 10

In [30]:
a = 10 

def something():
    b = 15
    print('in function',b)  # local variable
something()

print('out function',a) #gloabl variable

in function 15
out function 10

In [31]:
a = 10  

def something():
    #if we remove this variable then can befault it consider as global variable
    print('in function',a)
    
something()
print('out function',a)

in function 10
out function 10

In [32]:
a = 10  
def something():
    global a 
    b = 15 # 15 is converted to local when user assigned global a 
    print('in function',b)
    print('gloabl variable', a)
    
something()

print('out function',a)

in function 15
gloabl variable 10
out function 10

In [33]:
a = 20  

def something():
    global a
    a = 15     
    print('in function',a)
    
    a = 15
    
something()
print('out function',a)

in function 15
out function 15

In [34]:
x = 10  # Global variable

def update_x():
    global x  # Declare that we are using the global variable x
    x += 5    # Modify the global variable

update_x()
print(x)  # Output: 15

15

In [35]:
x = 10  # Global variable

def update_x():
    globals()['x'] += 5  # Access and modify the global variable using the dictionary

update_x()
print(x)  # Output: 15

15